APP_NAME=E-ArchiPlans
APP_ENV=local
APP_URL=http://localhost

FRONTEND_PORT=5173
BACKEND_PORT=8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=earchiplans
DB_USERNAME=earchi
DB_PASSWORD=earchi_pass

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=earchiplans
MYSQL_USER=earchi
MYSQL_PASSWORD=earchi_pass
MYSQL_PORT=3306
